<ion-view view-title="Answer">
    <ion-content>

        <div class="div80 rtl textCenter">

            <div class="header">התשובה היומית מתאריך {{today}}</div>

            <div>{{question.question}}</div>

            <div ng-show="question.explain_image != ''">
                <img ng-src={{question.explain_image}} style="width: 100%;">
            </div>

            <div ng-show="question.explain_youtube != ''">
                <youtube-video video-url="question.explain_youtube" player-width="'100%'"></youtube-video>
            </div>

            <div>{{rightAnswer}}</div>

            <div ng-show="isAnswerCorrect == true">התשובה הנכונה</div>

            <div ng-show="isAnswerCorrect == false">התשובה לא נכונה</div>

            <div>{{question.explaination}}</div>

            <button class="button button-positive button-block" ui-sref="app.item({itemId:todayDeal.index})">להטבה</button>

        </div>

    </ion-content>
</ion-view>
