<ion-view view-title="Catalog" hide-nav-bar="true">

     <ion-content class="pointsContent" style="background-color:#6d548d" >
		<div class="pointsHeader">
            <div class="sideMenuIcon" ng-show="image && image != ''">
                <img ng-src="{{image}}" ng-click="logout()" style="width:100%"/>
                Out
            </div>
            <div class="sideMenuIcon" ng-show="!image">
                <img src="img/empty_image.png" ng-click="logout()" style="width:100%"/>
                Out
            </div>
            <div class="homeMenuIcon" ui-sref="app.home">
                <img src="img/homeicon.png" style="width:100%" />
            </div>
            <img src="img/header.png" style="width:100%" />
        </div>
		
        
        <div class="catalogTitleName">
        	<div class="catalogMenuIcon" align="center" ng-click="toggleRightSideMenu()">
            	<div>
            		<img src="img/white_menu_icon.png" style="width:100%" />
                </div>
            </div>
            <div class="catalogTitle">
            	<div class="header pointsHeaderCatalog" ng-show="categoryNumber == 0">Choose category</div>
        		<div class="header pointsHeaderCatalog" ng-show="categoryNumber != 0">{{categoryName}}</div>
            </div>
        </div>
        




        <div class="button-bar" style="height:20px !important;">
            <a class="button" style="background-color:#86b1c3" ng-class="{activeTab : selection == 'favorites'}" ng-click="chooseTab('favorites')">מועדפים</a>
            <a class="button" style="background-color:#86b1c3" ng-class="{activeTab : selection == 'catalog'}" ng-click="chooseTab('catalog')">קטלוג</a>
            <a class="button" style="background-color:#86b1c3" ng-class="{activeTab : selection == 'location'}" ng-click="chooseTab('location')">מה באזור</a>
        </div>

        <div ng-switch="selection" class="textCenter">

            <div ng-switch-when="location">

                <div ng-show="categoryNumber == 0" style="margin-top: 50px;">Choose category to see the deals</div>

                <div ng-show="isLocationEnabled == false">
                    <button class="button button-positive" ng-click="turnOnGPS()" style="margin-top: 40px;">Turn on GPS to see the closest deals</button>
                </div>

                <div ng-show="isLocationEnabled == true" ng-repeat="deal in deals | filter: {cat_id : categoryNumber}">

                    <div class="catalogDeal" ng-show="deal.dist <= 10" ui-sref="app.item({itemId:deal.index})">

                        <div>{{deal.title}}</div>
						<div class="favorite" ng-show="!isFavorite(deal.index)" ng-click="makeFavorite(deal.index); $event.stopPropagation();">
                        	<img ng-src="img/fav.png" style="width: 100%;">
                        </div>
                        
                        <div class="favorite" ng-show="isFavorite(deal.index)" ng-click="deleteFavorite(deal.index); $event.stopPropagation();">
                        	<img ng-src="img/fav1.png" style="width: 100%;">
                        </div>

                        <img ng-src="{{deal.image}}" style="width: 100%;">


                        <div class="ThumbDealInfo">
                        	<div class="ThumbDealInfoRight">
                                <div class="friendPriceText">מחיר חבר</div>
                                <div class="teaserRegularPrice">{{deal.regular_price}} <span> 	&#x20aa;</span></div>
                               
                            </div>
                            <div class="ThumbDealInfoLeft">
                            	<img ng-src="img/teaser_logo.png" style="width: 100%;">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div ng-switch-when="catalog">

                <div ng-show="categoryNumber == 0" style="margin-top: 50px;">Choose category to see the deals</div>

                <div ng-show="categoryNumber != 0" ng-repeat="deal in deals | filter: {cat_id : categoryNumber}">

                    <div class="catalogDeal" ui-sref="app.item({itemId:deal.index})">

                        <div>{{deal.title}}</div>
						<div class="favorite" ng-show="!isFavorite(deal.index)" ng-click="makeFavorite(deal.index); $event.stopPropagation();">
                        	<img ng-src="img/fav.png" style="width: 100%;">
                        </div>
                        
                        <div class="favorite" ng-show="isFavorite(deal.index)" ng-click="deleteFavorite(deal.index); $event.stopPropagation();">
                        	<img ng-src="img/fav1.png" style="width: 100%;">
                        </div>

                        <img ng-src="{{deal.image}}" style="width: 100%;">

                        <div class="ThumbDealInfo">
                        	<div class="ThumbDealInfoRight">
                                <div class="friendPriceText">מחיר חבר</div>
                                <div class="teaserRegularPrice">{{deal.regular_price}} <span> 	&#x20aa;</span></div>
                               
                            </div>
                            <div class="ThumbDealInfoLeft">
                            	<img ng-src="img/teaser_logo.png" style="width: 100%;">
                            </div>
                        </div>

                    </div>

                </div>

           </div>

            <div ng-switch-when="favorites">

                <div ng-show="favoriteDeals == ''">אין תוצאות</div>

                <div ng-repeat="fav in favoriteDeals">

                    <div class="catalogDeal" ui-sref="app.item({itemId:fav.index})">

                        <div>{{fav.title}}</div>

                        <div class="favorite"  ng-show="!isFavorite(fav.index)" ng-click="makeFavorite(fav.index); $event.stopPropagation();">
                            <img ng-src="img/fav.png" style="width: 100%;">
                        </div>

                        <div class="favorite" ng-show="isFavorite(fav.index)" ng-click="deleteFavorite(fav.index); $event.stopPropagation();">
                            <img ng-src="img/fav1.png" style="width: 100%;">
                        </div>

                        <img ng-src="{{fav.image}}" style="width: 100%;">

                        <div class="ThumbDealInfo">
                            <div class="ThumbDealInfoRight">
                                <div class="friendPriceText">מחיר חבר</div>
                                <div class="teaserRegularPrice">{{fav.regular_price}} <span> 	&#x20aa;</span></div>

                            </div>
                            <div class="ThumbDealInfoLeft">
                                <img ng-src="img/teaser_logo.png" style="width: 100%;">
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
