<ion-view view-title="Home">
    <ion-content>

        <div class="div80">

            <div class="header">תפריט ראשי</div>

            <div class="homeRow">

                <div class="homeLeft">
                    <button class="button button-positive" ui-sref="app.catalog">קתלוג</button>
                </div>

                <div class="homeRight">
                    <button class="button button-balanced" ng-click="checkState()">שאלה+צ'ופר</button>
                </div>

            </div>

            <div class="homeRow">

                <div class="homeLeft">
                    <button class="button button-royal" ui-sref="app.information">מידה שימושי</button>
                </div>

                <div class="homeRight">
                    <button class="button button-energized" ui-sref="app.personal">אזור אישי</button>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
