<ion-modal-view>
    <ion-content>

        <div class="div80 rtl">

            <div class="header">שכחתי סיסמא</div>

            <div class="inputDiv">
                <input type="email" class="input textCenter" placeholder="הזן דואר אלקטרוני שנרשמת איתו" ng-model="forgot.email">
            </div>

            <button class="button button-positive button-block">שלח</button>

            <button class="button button-positive" ng-click="closeForgotPasswordModal()">Close modal</button>

        </div>

    </ion-content>
</ion-modal-view>