<ion-view view-title="" hide-nav-bar="true">
    <ion-content class="pointsContent">
		<div class="pointsHeader">
            <div class="sideMenuIcon">
                <img ng-src="{{image}}" ng-click="logout()" style="width:100%"/>
                Out
            </div>
            <div class="homeMenuIcon" ui-sref="app.home">
                <img src="img/homeicon.png" style="width:100%" />
            </div>
            	<img src="img/header.png" style="width:100%" />
        </div>
        
        <div class="header pointsHeaderTitle">אזור אישי</div>

        <div class="button-bar">  
            <a class="button" style="background-color:#ffd200" ng-class="{activeTab : selection == 'message'}" ng-click="selection='message'">פניה למומחה</a>
            <a class="button" style="background-color:#ffd200" ng-class="{activeTab : selection == 'personal'}" ng-click="selection='personal'">האזור האישי</a>
            <a class="button" style="background-color:#ffd200" ng-class="{activeTab : selection == 'profile'}" ng-click="selection='profile'">פרופיל</a>
        </div>

        <div ng-switch="selection" class="textCenter">

            <div ng-switch-when="profile">

                <div class="div90">

                    <div class="inputDiv">
                        <input type="text" class="input ltr" ng-model="personalInformation.firstname">
                    </div>

                    <div class="inputDiv">
                        <input type="text" class="input ltr" ng-model="personalInformation.lastname">
                    </div>

                    <div class="inputDiv">
                        <input type="email" class="input ltr" ng-model="personalInformation.email">
                    </div>

                    <div class="inputDiv">
                        <input type="date" class="input ltr" ng-model="personalInformation.birthday">
                    </div>

                    <div class="inputDiv" ng-show="userData.soldier == 1">
                        <input type="date" class="input ltr" ng-model="personalInformation.conscription_date">
                    </div>

                    <div class="inputDiv" ng-show="userData.soldier == 1">
                        <input type="date" class="input ltr" ng-model="personalInformation.release_date">
                    </div>

                    <div class="inputDiv">
                        <input type="password" class="input ltr" placeholder="סיסמא ישנה" ng-model="personalInformation.old_password">
                    </div>

                    <div class="inputDiv">
                        <input type="password" class="input ltr" placeholder="סיסמא חדשה" ng-model="personalInformation.new_password">
                    </div>

                    <div class="personalUserpicDiv">

                        <div class="personalUserpic">
                            <img src="img/take_picture.png" style="width:100%" ng-click="getPhoto()"/>
                        </div>

                        <div class="personalUserpic" ng-show="userpic != ''">
                            <img ng-src={{userpic}} width="70">
                        </div>

                        <div class="personalUserpic" ng-show="image != '' && userpic == ''">
                            <img ng-src={{image}} width="70">
                        </div>

                        <div class="personalUserpicRight">
                            הוסף תמונה מהגלריה שלך
                        </div>

                    </div>
					
                    <div class="personalUserpicDiv" style="margin-top:10px; margin-bottom:20px;" ng-click="saveChanges()">

                        <div class="personalUserpic">
                            <img src="img/browse_icon.png" style="width:100%" />
                        </div>
						<div class="personalUserSaveChange">
                            שמור שינויים
                        </div>
                       
                    </div>
                    
                   


                </div>

            </div>

            <div ng-switch-when="personal">
					<div class="pointTitle">
                    	<div class="pointTitleHeader">צברתי מתחילת החודש 0 נקודות</div>
                    	<div> תשובה נכונה = 10 נקודות , תשובה לא נכונה = 2 נקודות</div>
                    </div>
                    
                    <div class="personalTableRow">
                        <div class="personalTableLeft">{{correctAnswers}}</div>
                        <div class="personalTableRight">תשובות נכונות החודש</div>
                    </div>
                    <div class="yellowRow"></div>
                    <div class="personalTableRow">
                        <div class="personalTableLeft">{{incorrectAnswers}}</div>
                        <div class="personalTableRight">תשובות לא נכונות החודש</div>
                    </div>
                    <div class="yellowRow"></div>
                    <div class="personalTableRow">
                        <div class="personalTableLeft">{{allPoints}}</div>
                        <div class="personalTableRight">נקודות שצברתי מעת ההרשמה</div>
                    </div>
                    <div class="yellowRow"></div>
               

                <div class="pointDescription">עונים על מינימום 15 שאלות נכון ונכנסים להגרלה החודשית!</div>

            </div>

            <div ng-switch-when="message">

                <div class="div90">

                    <div class="personalTipTitle">
                    	<img src="img/personal_tip.png" style="width:100%" />
                    </div>

                    <ion-scroll direction="y" style="width: 100%; height: 250px; background-color: white; border-radius: 15px; padding: 10px;">
                        <div ng-repeat="element in messages | orderBy:'date'">

                            <div class="personalQuestion" ng-show="element.type == 'question'">אני</div>
                            <!--<div class="personalQuestion" ng-show="element.type == 'question'">{{element.date | date: "MMM dd yyyy"}}</div>-->
                            <div class="personalQuestion" ng-show="element.type == 'question'">{{element.message}}</div>

                            <div class="personalAnswer" ng-show="element.type == 'answer'">מומחה</div>
                            <!--<div class="personalAnswer" ng-show="element.type == 'answer'">{{element.date | date: "MMM dd yyyy"}}</div>-->
                            <div class="personalAnswer" ng-show="element.type == 'answer'">{{element.message}}</div>

                        </div>
                    </ion-scroll>

                    <div class="personalMessageDiv">
                        <div class="personalMessageDivLeft">
                            <button class="button button-small button-positive" ng-click="sendMessage()">Send</button>
                        </div>
                        <div class="personalMessageDivRight">
                            <textarea placeholder="הקלד ושלח - פנייתך תעבור למומחה, תשובה ב ימים הקרובים"
                                      ng-model="message.subject" class="personalTextarea"required></textarea>
                        </div>
                    </div>

                    <!--<div>-->
                        <!--<textarea placeholder="הכנס טקסט"-->
                                  <!--ng-model="message.subject" rows="10" class="personalTextarea"required></textarea>-->
                    <!--</div>-->
					<!---->
                    <!--<div class="personalTipTitle" ng-click="sendMessage()">-->
                    	<!--<img src="img/personal_tip_button.png" style="width:100%" />-->
                    <!--</div>-->


                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
