.div80 {
    width: 80%;
    margin: 0 auto;
	background-color:#ffd200;
}

.div100
{
	background-color:#ffd200;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.header {
    width: 100%;
    text-align: center;
    margin: 10px 0;
	font-size:18px;
}

.inputDiv {
    width: 100%;
    margin: 10px 0;
    padding-right: 5px;
    border: 1px solid grey;
}

.input {
    width: 100%;
    text-align: center;
}

.activeTab {
    background-color: #ffffff !important;
}

/*Register*/

.registerRow{
    width: 100%;
    text-align: center;
    height: 25px;
}

.registerButtonLeft {
    width: 50%;
    float: left;
}

.registerButtonRight {
    width: 50%;
    float: right;
}

/*End of register*/

/*Home*/
.homeIcons
{
	background-color:#ffd200;
	padding:10px;
	padding-bottom:50px;
	padding-top:20px;
}


.homeRow{
    width: 100%;
    text-align: center;
	overflow:hidden;
}

.homeLeft{
    float: left;
    width: 35%;
    padding: 20px 0;
}

.homeIconBlackDiscription
{
	background-color:black;
	color:white;
	padding:5px;
	border-radius:20px;
}

.homeRight{
    float: right;
    width: 35%;
    padding: 20px 0;
}
/*End of Home*/

/*Personal*/
.personalUserpicDiv {
    width: 100%;
}

.personalUserpic{
    width: 33%;
    float: left;
    padding: 20px 0;
}

.personalUserpicRight {
    width: 33%;
    float: right;
    padding: 20px 0;

}

.personalTableRow {
    width: 100%;
    overflow: hidden;
}

.personalTableLeft {
    width: 20%;
    float: left;
    text-align: left;
}

.personalTableRight {
    width: 80%;
    float: right;
    text-align: right;
}

.personalTextarea {
    width: 100%;
    text-align: right;
}
/*End of personal*/

/*Article*/

.articleHeaderRow {
    width: 100%;
    overflow: hidden;
    padding: 20px 10px;
}

.articleHeaderRight {
    width: 80%;
    float: right;
    text-align: right;
}

.articleHeaderLeft {
    width: 20%;
    float: left;
    text-align: left;
}

.articleButtons {
    width: 100%;
}
/*End of article*/

/*Video popup*/
.popupVideo .popup
{
    background-color: transparent;
    padding-top: 30px;
    width: 350px;
    height: 400px;
}

.popupVideo .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.videoCloseButton {
    left:0;
    top:-5px;
    position:absolute;
}

.videoDiv{
    padding-top: 10px
}
/*End of video popup*/

/* Header Page*/
.Header
{
	width:100%;
}

.sideMenuIcon
{
	width:30px; 
	left:10px;
	top:20px;
	position:absolute;
}




